In [ ]:
import pandas as pd

# Load the raw school location data from CSV file
df = pd.read_csv('../data/landing/schools/school_locations_2024.csv', encoding='latin-1')

In [ ]:
# Inspect the dataframe structure and data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2294 entries, 0 to 2293
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Education_Sector       2294 non-null   object
 1   Entity_Type            2294 non-null   int64
 2   School_No              2294 non-null   int64
 3   School_Name            2294 non-null   object
 4   School_Type            2294 non-null   object
 5   Address_Line_1         2294 non-null   object
 6   Address_Line_2         11 non-null     object
 7   Address_Town           2294 non-null   object
 8   Address_State          2294 non-null   object
 9   Address_Postcode       2294 non-null   int64
 10  Postal_Address_Line_1  2292 non-null   object
 11  Postal_Address_Line_2  14 non-null     object
 12  Postal_Town            2292 non-null   object
 13  Postal_State           2292 non-null   object
 14  Postal_Postcode        2292 non-null   float64
 15  Full_Phone_No          2294 non-null   object
 16  Region_Name            2294 non-null   object
 17  AREA_Name              2294 non-null   object
 18  LGA_ID                 2294 non-null   int64
 19  LGA_Name               2294 non-null   object
 20  X                      2293 non-null   float64
 21  Y                      2293 non-null   float64
dtypes: float64(3), int64(4), object(15)
memory usage: 394.4+ KB

In [ ]:
# Select relevant columns for further analysis
schools_df = df[['School_Name', 'School_Type', 'X', 'Y', 'Address_Town', 'Address_Postcode','Region_Name', 'LGA_Name', 'LGA_ID']]

In [ ]:
# Display the selected columns to verify selection
schools_df

,School_Name,School_Type,X,Y,Address_Town,Address_Postcode,Region_Name,LGA_Name,LGA_ID
0,Parade College,Secondary,145.06698,-37.69018,BUNDOORA,3083,NORTH-WESTERN VICTORIA,Banyule (C),66
1,Simonds Catholic College,Secondary,144.95288,-37.80597,WEST MELBOURNE,3003,SOUTH-WESTERN VICTORIA,Melbourne (C),460
2,St Marys College Melbourne,Secondary,144.99700,-37.85936,ST KILDA EAST,3183,SOUTH-EASTERN VICTORIA,Port Phillip (C),590
3,St Patrick's College Ballarat,Secondary,143.83156,-37.55971,BALLARAT,3350,SOUTH-WESTERN VICTORIA,Ballarat (C),57
4,St Patrick's School,Primary,143.84715,-37.56440,BALLARAT,3350,SOUTH-WESTERN VICTORIA,Ballarat (C),57
...,...,...,...,...,...,...,...,...,...
2289,Mountain District Community College,Secondary,145.28017,-37.86111,BORONIA,3155,NORTH-EASTERN VICTORIA,Knox (C),367
2290,Islamic College of Sport,Secondary,144.96754,-37.74374,COBURG,3058,NORTH-WESTERN VICTORIA,Merri-bek (C),525
2291,Mernda Hills Christian College,Pri/Sec,145.07465,-37.59851,MERNDA,3754,NORTH-WESTERN VICTORIA,Whittlesea (C),707
2292,Australian Islamic Centre College,Primary,144.86247,-37.84650,NEWPORT,3015,SOUTH-WESTERN VICTORIA,Hobsons Bay (C),311
2293,All Saints Anglican School,Pri/Sec,145.41473,-36.34032,SHEPPARTON NORTH,3631,NORTH-EASTERN VICTORIA,Greater Shepparton (C),283

In [ ]:
# Check for missing values and data types after column selection
schools_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2294 entries, 0 to 2293
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   School_Name       2294 non-null   object
 1   School_Type       2294 non-null   object
 2   X                 2293 non-null   float64
 3   Y                 2293 non-null   float64
 4   Address_Town      2294 non-null   object
 5   Address_Postcode  2294 non-null   int64
 6   Region_Name       2294 non-null   object
 7   LGA_Name          2294 non-null   object
 8   LGA_ID            2294 non-null   int64
dtypes: float64(2), int64(2), object(5)
memory usage: 161.4+ KB

In [ ]:
# Remove rows with missing values to ensure data quality
schools_df.dropna(inplace=True)

/var/folders/lq/tj126hvd74jgtblg64k2kz_h0000gn/T/ipykernel_16722/1139714638.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schools_df.dropna(inplace=True)

In [ ]:
# Rename coordinate columns for clarity
schools_df.rename(columns={'X': 'Longitude', 'Y': 'Latitude'}, inplace=True)

/var/folders/lq/tj126hvd74jgtblg64k2kz_h0000gn/T/ipykernel_16722/4025581115.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schools_df.rename(columns={'X': 'Longitude', 'Y': 'Latitude'}, inplace=True)

In [ ]:
# Display the cleaned and renamed dataframe
schools_df

,School_Name,School_Type,Longitude,Latitude,Address_Town,Address_Postcode,Region_Name,LGA_Name,LGA_ID
0,Parade College,Secondary,145.06698,-37.69018,BUNDOORA,3083,NORTH-WESTERN VICTORIA,Banyule (C),66
1,Simonds Catholic College,Secondary,144.95288,-37.80597,WEST MELBOURNE,3003,SOUTH-WESTERN VICTORIA,Melbourne (C),460
2,St Marys College Melbourne,Secondary,144.99700,-37.85936,ST KILDA EAST,3183,SOUTH-EASTERN VICTORIA,Port Phillip (C),590
3,St Patrick's College Ballarat,Secondary,143.83156,-37.55971,BALLARAT,3350,SOUTH-WESTERN VICTORIA,Ballarat (C),57
4,St Patrick's School,Primary,143.84715,-37.56440,BALLARAT,3350,SOUTH-WESTERN VICTORIA,Ballarat (C),57
...,...,...,...,...,...,...,...,...,...
2289,Mountain District Community College,Secondary,145.28017,-37.86111,BORONIA,3155,NORTH-EASTERN VICTORIA,Knox (C),367
2290,Islamic College of Sport,Secondary,144.96754,-37.74374,COBURG,3058,NORTH-WESTERN VICTORIA,Merri-bek (C),525
2291,Mernda Hills Christian College,Pri/Sec,145.07465,-37.59851,MERNDA,3754,NORTH-WESTERN VICTORIA,Whittlesea (C),707
2292,Australian Islamic Centre College,Primary,144.86247,-37.84650,NEWPORT,3015,SOUTH-WESTERN VICTORIA,Hobsons Bay (C),311
2293,All Saints Anglican School,Pri/Sec,145.41473,-36.34032,SHEPPARTON NORTH,3631,NORTH-EASTERN VICTORIA,Greater Shepparton (C),283

In [30]:
# create the processed data directory if it doesn't exist
import os
os.makedirs('../data/processed/schools', exist_ok=True)

# Save the processed school location data to a new CSV file
schools_df.to_csv('../data/processed/schools/school_locations.csv', index=False)